<footer class="site-footer">
  <div class="container-custom">
    <div class="row gy-4">
      <div class="col-12 col-md-4">
        <h3>About Us</h3>
        <p>At SreePVF, we are committed to promoting translational research in the fields of Biomedical Sciences and Agriculture through our flagship Sree Ramakrishna Paramahamsa Research Grant Programme.</p>
      </div>
      <div class="col-12 col-md-4">
        <h3>Quick Links</h3>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="/index.html">Home</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="/html/research-grants.html">Research Grants</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="/html/biomedical-science.html">Biomedical Science</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="/html/agricultural-science.html">Agricultural Science</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="/html/biomedical-awards.html">Biomedical Awards</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="/html/agricultural-awards.html">Agricultural Awards</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="/html/about-us.html">About</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="/html/founders.html">Founders</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <h3>Contact Info</h3>
        <p data-address-text>Sree Padmavati Venkateswara Foundation, 40-3-13, Gummadi Raja Gopala Rao Street, M.G. Road, Vijayawada-520 010, Andhra Pradesh, India.</p>
        <p>Phone: <a href="tel:" data-phone-link><span data-phone-text>+91 98666 56456</span></a></p>
        <p>E-mail: <a href="mailto:" data-email-link><span data-email-text>sreepvfkrishna@gmail.com</span></a></p>
        <p>Website: <a href="https://sreepvf.org/">https://sreepvf.org/</a></p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; Copyright 2023 <a href="/index.html">Sree PVF</a>. All Rights Reserved</p>
      <p>Designed by <a href="https://rightclicksolutions.com/" target="_blank" rel="noopener">Right Click Solutions</a>.</p>
    </div>
  </div>
</footer>
