<header class="site-header">
  <div class="header-topbar">
    <div class="container-custom">
      <a href="index.html" class="logo-block">
        <img src="images/home-page-images/Logo-1.png" data-image-slot="header-logo" alt="SreePVF logo" width="80" height="80">
        <span class="foundation-name">Sree Padmavathi Venkateswara Foundation</span>
      </a>
      <a href="mailto:sreepvfkrishna@gmail.com" class="topbar-contact" data-email-link>
        <i class="bi bi-envelope-fill" aria-hidden="true"></i>
        <span data-email-text>sreepvfkrishna@gmail.com</span>
      </a>
    </div>
  </div>

  <div class="header-nav">
    <nav class="navbar navbar-expand-lg main-nav">
      <div class="container-custom">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavCollapse" aria-controls="mainNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="research-grants.html" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">Research Grants</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="biomedical-science.html">Biomedical Science</a></li>
                <li><a class="dropdown-item" href="agricultural-science.html">Agricultural Science</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">Awards</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="biomedical-awards.html">Biomedical Awards</a></li>
                <li><a class="dropdown-item" href="agricultural-awards.html">Agricultural Awards</a></li>
                <li><a class="dropdown-item" href="sreepvf-essay-contests.html">SreePVF Essay Contests</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="about-us.html" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">About</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="founders.html">Founders</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">Media</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="videos.html">Videos</a></li>
                <li><a class="dropdown-item" href="picture-gallery.html">Picture Gallery</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="blog.html" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">Blog</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="events.html">Events</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact-us.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
